@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(
        90deg,
        rgba(96, 89, 227, 1) 20%,
        rgba(133, 183, 195, 1) 55%
      );
      overflow: hidden;
}

.clip-bg {
    background-image: url("./images/bg.jpg");
    height: 100vh;
    clip-path: polygon(100% 0, 100% 74%, 0 100%, 0 26%);
}