@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(
        90deg,
        rgba(96, 89, 227, 1) 20%,
        rgba(133, 183, 195, 1) 55%
      );
      overflow: hidden;
}

.clip-bg {
    background-image: url("./images/bg.jpg");
    height: 100vh;
    clip-path: polygon(100% 0, 100% 74%, 0 100%, 0 26%);
    position: relative;
    display: grid;
    place-items: center;
}

.clip-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.3;
}

.clip-bg h1 {
    font-size: 6rem;
    color: white;
    z-index: 1;
}

.clip-bg button {
    position: absolute;
    top: 65%;
    left: 20%;
    padding: 1rem 3.6rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.4rem;
    z-index: 1;
    transition: all 0.5s ease;
    cursor: pointer;
}

.clip-bg button:hover {
    background-color: white;
    color: rgb(57, 120, 202);
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 2rem
}